.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: aquamarine;
}
